<div class="container">
  <div class="row pt-4">
    <div class="col"></div>
    <div class="col-lg-12 table">

      <mat-toolbar color="primary">
        <button mat-button (click)="addPerson()">Добавить персональные данные</button>
        <button mat-button>Удалить персональные данные</button>
      </mat-toolbar>

      <mat-table #table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="personId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID персональных данных</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.personId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Имя</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sex">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Пол</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.sex}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="birthdate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Дата рождения</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.birthdate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="passport">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Паспорт</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.passport}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Телефон</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.phone}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Страна</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.country}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="addressId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID адреса</mat-header-cell>
          <mat-cell *matCellDef="let person"> {{person.addressId}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let person; columns: displayedColumns;" (click)="updatePerson(person)"></mat-row>

      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>

    </div>
    <div class="col"></div>
  </div>
</div>

