<div class="container">
  <div class="row pt-4">
    <div class="col"></div>
    <div class="col-lg-9 table">

      <mat-toolbar color="primary">
        <button mat-button (click)="addTicket()">Добавить билет</button>
        <button mat-button>Удалить билет</button>
      </mat-toolbar>

      <mat-table #table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="ticketId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID билета</mat-header-cell>
          <mat-cell *matCellDef="let ticket"> {{ticket.ticketId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Стоимость</mat-header-cell>
          <mat-cell *matCellDef="let ticket"> {{ticket.cost}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="clazz">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Класс</mat-header-cell>
          <mat-cell *matCellDef="let ticket"> {{ticket.clazz}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="placeNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Номер места</mat-header-cell>
          <mat-cell *matCellDef="let ticket"> {{ticket.placeNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="passengerId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID пассажира</mat-header-cell>
          <mat-cell *matCellDef="let ticket"> {{ticket.passengerId}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let ticket; columns: displayedColumns;" (click)="updateTicket(ticket)"></mat-row>

      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>

    </div>
    <div class="col"></div>
  </div>
</div>

